<!DOCTYPE html>
{% load static %}
<html>

  <head>

  <meta charset="utf-8">

  <title>Jadwal</title>

  <!-- Font Awesome Icons -->
  <link href="{% static 'css/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static 'css/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">
  

  <link href="{% static 'css/style.css' %}" rel="stylesheet"> 
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >

</head>
	<body>
		<section class="page-section" id="form">
    		<div class="container">
      			<div class="row">
          			<div class="col">
              			<form id="form" action="{% url 'homepage:Schedule' %}" method="POST">
                			{% csrf_token %}
                			{{ form }}
               				<div class="centre-items">
                  				<input type="submit" class="btn btn-primary" value="Add Schedule">
                			</div>
              			</form>
          		</div>
          		<div class="col">
            		<table class="table">
              			<thead>
                			<tr>
                  			<th scope="col">Day</th>
                  			<th scope="col">Date</th>
                  			<th scope="col">Time</th>
                  			<th scope="col">Name</th>
                        <th scope="col">Delete</th>
                			</tr>
              			</thead>
              			<tbody>
                			{% for Jadwal in sched %}
                  				<tr>
                  				<th scope="row">{{Jadwal.Day}}</th>
                  				<td>{{Jadwal.Date}}</td>
                  				<td>{{Jadwal.Time}}</td>
                  				<td>{{Jadwal.Name}}</td>
                          <td><a href="{% url 'homepage:Delete' pk=Jadwal.pk %}"><button class="btn btn-danger"></button></a></td>
                  				</tr>
                			{% endfor %}
              			</tbody>
            		</table>
     		 	</div>
    		</div>
  		</section>
	</body>
</html>